.wt-icon-shared-place {
  /* plac.png embedded via https://onlineimagetools.com/convert-image-to-data-uri */    
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4wgZCSkm2P+xwQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAADBUlEQVQ4y82TyWucdRjHv7/t3eadfRIzydigQy0VG0QsCq2CBE+Kh6JCL0IRL0FaaMFKQXvwUkqr4sFiPcdE1KJI0aZWQaHRaNrESRPbdyaZyUxmppNttszSd/l5SOv2F/g5PZfvh4dnIfgLCYAAkPTts+tJv1h9MRbMjnQ7FVlvlj68vVq/sJKbtcbHLsp3Tr2Lt948CtxN/AOpjH66cSERmx0ullPazM095WZ9OtB1wohGMoyLyGWfZx84cfKEfS/xt0B4ZipFpmYyzq4fJ5ZLpjIv1jYsXVUkhB72QAda8d7ZuCKMedKHJ44ffL0JAPS98W3ZqfNkJJlY353+7Uq7sOLr/Pr7/qXF4qGUpq2ofiMdjASvxTh3wBU8rNT1EQAYv3juXgeSpBYq7czc1+r0TAr5laIE0wjozqaihrxIpBzoOE9WQaJ2OLwWCIW33COvHvQBBBQAvvrGO07b19Vb6Tyyy2vo3BEERINpZM3N6t4CIY4b8FnB/r5LkVLpkUY6s5edPD32BoBtwaMPWcM3rWUsF8qo1hqglIISAg86emOTifTiIYuzKjHjz7EOe1CvlAc2II1nAYADwOjYbCER30C5vApK6d2lEkAKqFrZP9A/kUhbr2Wb1Ex0m6C20+XpW4EcADAAuPL9A3M3rMZh06jalEsmhArOBYTgYFwlmm4r/YmrwamppyuNllZvuYVY17Fezsx9UWXbQ7y66ZHB3bqqJkOhlkKZCqFwuK7PVhRKDIPgp8lX1rbahqOqWzpc69J3n73w8dnh98EG9x1DLT+JaBQLmZxx4P4BVdMUyrki0Gr7bcOU9PxHj992WEQ2ahmj213QC9YHnzc2M79MLH3rslp+Esld+5BbnF4Nhb0brme8FIuqCmUCfr/kggNNPObu6MuF1zcXjWrlk/FS9vIogPy/LjEx2I9CrgjKEHlq/zNnenp7nhea2fNHdqed3NGqXZ+r/1xc+vJcu577AUCbEAopvf/8AgPgbpdDQ0P3UT0Zr3fCMjt/reLZMyX8L/kTDRpJZHMVLaEAAAAASUVORK5CYII=);
}

/* properly align non editable place name (hacky) */
.input-group-replacement {
  flex: 100 1 auto;     
}

div.vesta_sp_data {
    margin-top: 1em;
}

